.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-link {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}
