.product {
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-radius: 3px;
}

.mv5 {
    margin: 5px auto;
}

.w100 {
    width: 100%;
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image-container {
    overflow: hidden;
    height: 200px;
}

.card-image {
    margin: auto;
    width: auto;
    height: 200px;
}

.card-content {
    height: auto;
}

.card-content-paragraph {
    padding: 10px 0;
}

.show-more {
    color: cornflowerblue;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
